PORT=3000
# Cole abaixo o seu Access Token gerado no Mercado Pago Developers
MERCADO_PAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
# Chave pública para o Checkout Transparente / Frontend
MERCADO_PAGO_PUBLIC_KEY=SUA_PUBLIC_KEY_AQUI
